In [1]:
import sys
sys.executable

'/home/dennisl/remote/SkWeak/.venv/bin/python3'

In [2]:
%ls /data/datahub

 Animals_with_Attributes2.zip   OPENML/    'sequence tagging'/
 classification/                README.md

In [3]:
%env DATA=/data/datahub

env: DATA=/data/datahub

### Simple Datasets

In [4]:
from skweak.dataset import WeakData


data = WeakData.from_name("mushroom")

Loading skweak/dataset.py
Loading skweak/core.py
Loading skweak/utils.py

Fetching 142 files:   0%|          | 0/142 [00:00<?, ?it/s]

In [5]:
data

{'train': SampleWeakData(n_samples=6499, n_features=22, n_lfs=20, n_classes=2),
 'valid': SampleWeakData(n_samples=812, n_features=22, n_lfs=20, n_classes=2),
 'test': SampleWeakData(n_samples=813, n_features=22, n_lfs=20, n_classes=2)}

In [15]:
data['test'].features.shape

(813, 22)

In [6]:
test_data = data['test']
test_data.lf_summary

   Polarity  Coverage  Overlaps  Conflicts  Correct  Incorrect  Emp. Acc.
0       [0]  0.011070  0.011070   0.000000        9          0   1.000000
1       [1]  0.094711  0.049200   0.000000       77          0   1.000000
2       [1]  0.009840  0.009840   0.009840        8          0   1.000000
3       [1]  0.123001  0.123001   0.017220       86         14   0.860000
4       [1]  0.193112  0.193112   0.087331      112         45   0.713376
5       [1]  0.046740  0.046740   0.046740       38          0   1.000000
6       [1]  0.070111  0.070111   0.070111       49          8   0.859649
7       [1]  0.034440  0.034440   0.034440        9         19   0.321429
8       [0]  0.083641  0.079951   0.051661       53         15   0.779412
9       [1]  0.134071  0.134071   0.033210       93         16   0.853211
10      [1]  0.052891  0.052891   0.052891       30         13   0.697674
11      [0]  0.052891  0.052891   0.000000       43          0   1.000000
12      [0]  0.330873  0.330873   0.015990      269          0   1.000000
13      [0]  0.375154  0.375154   0.057811      289         16   0.947541
14      [0]  0.494465  0.487085   0.087331      350         52   0.870647
15      [0]  0.436654  0.436654   0.151292      250        105   0.704225
16      [0]  0.162362  0.159902   0.059041      110         22   0.833333
17      [0]  0.359164  0.359164   0.079951      263         29   0.900685
18      [1]  0.095941  0.095941   0.093481       43         35   0.551282
19      [1]  0.140221  0.140221   0.092251       79         35   0.692982

In [7]:
test_data.silhouette_score(use_lf=False)

0.16638259483565676

In [8]:
test_data.agreement_matrix(verbose=True).shape

2025-07-01 19:16:26 | INFO | skweak.dataset.base_data | Agreement Matrix Between LFs
            1: fully agree;  -1: no overlap at all

(20, 20)

In [9]:
test_data.ci_matrix(verbose=True).shape

2025-07-01 19:16:26 | INFO | skweak.dataset.base_data | Conditional Mutual Information Matrix Between LFs
            CMI(λᵢ; λⱼ | Y) = ∑_c P(Y=c) ∑_{vᵢ,vⱼ} [
                P(λᵢ=vᵢ, λⱼ=vⱼ | Y=c)
                × log[ P(λᵢ=vᵢ, λⱼ=vⱼ | Y=c) / (P(λᵢ=vᵢ | Y=c)P(λⱼ=vⱼ | Y=c)) ]
            ]
            PS: if CMI = 0, λᵢ and λⱼ are conditionally independent given Class

(20, 20)

In [10]:
test_data.ci_matrix()[:5,:5]

array([[      -inf, 0.        , 0.        , 0.00036861, 0.00123133],
       [0.        ,       -inf, 0.0022482 , 0.02754285, 0.0377514 ],
       [0.        , 0.0022482 ,       -inf, 0.00254794, 0.01230331],
       [0.00036861, 0.02754285, 0.00254794,       -inf, 0.21730612],
       [0.00123133, 0.0377514 , 0.01230331, 0.21730612,       -inf]])

### Text Datasets

In [12]:
%ls $DATA/classification/trec

labeled_ids.json  label.json  readme.txt  test.json  train.json  valid.json

In [13]:
!head -n 2 $DATA/classification/trec/test.json

{
	"0": {"label": 5, "data": {"text": "dist How far is it from Denver to Aspen ?"}, "weak_labels": [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 5, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]},

In [4]:
from skweak.dataset import WeakTextData

data = WeakTextData.from_name("trec")

Loading skweak/dataset.py
Loading skweak/core.py
Loading skweak/utils.py

Fetching 142 files:   0%|          | 0/142 [00:00<?, ?it/s]

In [20]:
data['test'].agreement_matrix()

array([[ 1., -1., -1., ..., -1.,  1., -1.],
       [-1.,  1., -1., ..., -1., -1., -1.],
       [-1., -1.,  1., ..., -1., -1., -1.],
       ...,
       [-1., -1., -1., ...,  1., -1., -1.],
       [ 1., -1., -1., ..., -1.,  1., -1.],
       [-1., -1., -1., ..., -1., -1.,  1.]], shape=(68, 68))

In [23]:
data["test"].ci_matrix()[:5, :5]

array([[          -inf, 0.00000000e+00, 0.00000000e+00, 6.52238136e-05,
        6.52238136e-05],
       [0.00000000e+00,           -inf, 1.45986698e-05, 0.00000000e+00,
        9.09253749e-05],
       [0.00000000e+00, 1.45986698e-05,           -inf, 0.00000000e+00,
        0.00000000e+00],
       [6.52238136e-05, 0.00000000e+00, 0.00000000e+00,           -inf,
        2.15057908e-05],
       [6.52238136e-05, 9.09253749e-05, 0.00000000e+00, 2.15057908e-05,
                  -inf]])

In [30]:
data["test"].lf_summary

   Polarity  Coverage  Overlaps  Conflicts  Correct  Incorrect  Emp. Acc.
0       [1]     0.006     0.006      0.002        3          0   1.000000
1       [0]     0.012     0.010      0.006        1          5   0.166667
2       [0]     0.002     0.002      0.000        1          0   1.000000
3       [4]     0.002     0.002      0.002        0          1   0.000000
4       [2]     0.016     0.016      0.006        6          2   0.750000
..      ...       ...       ...        ...      ...        ...        ...
63      [5]     0.024     0.024      0.004       12          0   1.000000
64      [5]     0.014     0.014      0.000        7          0   1.000000
65      [4]     0.040     0.040      0.000       20          0   1.000000
66      [1]     0.022     0.022      0.022        7          4   0.636364
67      [3]     0.010     0.010      0.010        5          0   1.000000

[68 rows x 7 columns]

dict